<%= turbo_stream_from "quotes" %>

<main class="container">
    <div class="header">
      <h1>Quotes</h1>
      <%= link_to "New quote",
                  new_quote_path,
                  data: { turbo_frame: dom_id(Quote.new) },
                  class: "btn btn--primary bg-blue-600 text-white inline-block px-6 py-2.5"%>
    </div>
    <%= turbo_frame_tag Quote.new %>

    <%= turbo_frame_tag "quotes" do %>
      <%= render @quotes %>
    <% end %>
</main>